MONGODB_URI=''
DB_NAME=''

SECRET_KEY_ACCESS_TOKEN=''
SECRET_KEY_REFRESH_TOKEN=''
SECRET_KEY_EMAIL_VERIFY_TOKEN=''
SECRET_KEY_RESET_PASSWORD_TOKEN=''

ACCESS_TOKEN_EXPIRES_IN=''
REFRESH_TOKEN_EXPIRES_IN=''
EMAIL_VERIFY_TOKEN_EXPIRES_IN=''
RESET_PASSWORD_TOKEN_EXPIRES_IN=''

# email
EMAIL_USER=''
EMAIL_PASS=''

# AWS
AWS_ACCESS_KEY_ID=''
AWS_SECRET_ACCESS_KEY=''
AWS_REGION=''

CLIENT_URL='http://localhost:3000'