<head style='-webkit-text-size-adjust: none; text-size-adjust: none'>
  <title style='-webkit-text-size-adjust: none; text-size-adjust: none'></title>
  <meta
    http-equiv='X-UA-Compatible'
    content='IE=edge'
    style='-webkit-text-size-adjust: none; text-size-adjust: none'
  />
  <meta
    http-equiv='Content-Type'
    content='text/html; charset=UTF-8'
    style='-webkit-text-size-adjust: none; text-size-adjust: none'
  />
</head>

<body
  style='
    background: #f9f9f9;
    -webkit-text-size-adjust: none;
    text-size-adjust: none;
    margin: 0;
    padding: 0;
    -ms-text-size-adjust: 100%;
  '
>
  <div style='background-color: #f9f9f9; -webkit-text-size-adjust: none; text-size-adjust: none'>
    <div
      style='
        margin: 0px auto;
        max-width: 640px;
        background: transparent;
        -webkit-text-size-adjust: none;
        text-size-adjust: none;
      '
    >
      <table
        role='presentation'
        cellpadding='0'
        cellspacing='0'
        style='
          font-size: 0px;
          width: 100%;
          background: transparent;
          -webkit-text-size-adjust: none;
          text-size-adjust: none;
          border-collapse: collapse;
        '
        align='center'
        border='0'
      >
        <tbody style='-webkit-text-size-adjust: none; text-size-adjust: none'>
          <tr style='-webkit-text-size-adjust: none; text-size-adjust: none'>
            <td
              style='
                text-align: center;
                vertical-align: top;
                direction: ltr;
                font-size: 0px;
                padding: 20px 0px;
                -webkit-text-size-adjust: none;
                text-size-adjust: none;
                border-collapse: collapse;
              '
            >
              <div
                aria-labelledby='mj-column-per-100'
                class='mj-column-per-100 outlook-group-fix'
                style='
                  vertical-align: top;
                  display: inline-block;
                  direction: ltr;
                  font-size: 13px;
                  text-align: left;
                  width: 100%;
                  -webkit-text-size-adjust: none;
                  text-size-adjust: none;
                '
              ></div>
            </td>
          </tr>
        </tbody>
      </table>
    </div>

    <div
      style='
        max-width: 640px;
        margin: 0 auto;
        box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.1);
        border-radius: 4px;
        overflow: hidden;
        -webkit-text-size-adjust: none;
        text-size-adjust: none;
      '
    >
      <div
        style='
          margin: 0px auto;
          max-width: 640px;
          background: #7289da
            url(https://cdn.discordapp.com/email_assets/f0a4cc6d7aaa7bdf2a3c15a193c6d224.png) top
            center / cover no-repeat;
          -webkit-text-size-adjust: none;
          text-size-adjust: none;
        '
      >
        <table
          role='presentation'
          cellpadding='0'
          cellspacing='0'
          style='
            font-size: 0px;
            width: 100%;
            background: #7289da
              url(https://cdn.discordapp.com/email_assets/f0a4cc6d7aaa7bdf2a3c15a193c6d224.png) top
              center / cover no-repeat;
            -webkit-text-size-adjust: none;
            text-size-adjust: none;
            border-collapse: collapse;
          '
          align='center'
          border='0'
          background='https://cdn.discordapp.com/email_assets/f0a4cc6d7aaa7bdf2a3c15a193c6d224.png'
        >
          <tbody style='-webkit-text-size-adjust: none; text-size-adjust: none'>
            <tr style='-webkit-text-size-adjust: none; text-size-adjust: none'>
              <td
                style='
                  text-align: center;
                  vertical-align: top;
                  direction: ltr;
                  font-size: 0px;
                  padding: 57px;
                  -webkit-text-size-adjust: none;
                  text-size-adjust: none;
                  border-collapse: collapse;
                '
              >
                <div
                  style='
                    cursor: auto;
                    color: white;
                    font-family:
                      Whitney,
                      Helvetica Neue,
                      Helvetica,
                      Arial,
                      Lucida Grande,
                      sans-serif;
                    font-size: 36px;
                    font-weight: 600;
                    line-height: 36px;
                    text-align: center;
                    -webkit-text-size-adjust: none;
                    text-size-adjust: none;
                  '
                >
                  Welcome to Nest Shop!
                </div>
              </td>
            </tr>
          </tbody>
        </table>
      </div>

      <div
        style='
          margin: 0px auto;
          max-width: 640px;
          background: #ffffff;
          -webkit-text-size-adjust: none;
          text-size-adjust: none;
        '
      >
        <table
          role='presentation'
          cellpadding='0'
          cellspacing='0'
          style='
            font-size: 0px;
            width: 100%;
            background: #ffffff;
            -webkit-text-size-adjust: none;
            text-size-adjust: none;
            border-collapse: collapse;
          '
          align='center'
          border='0'
        >
          <tbody style='-webkit-text-size-adjust: none; text-size-adjust: none'>
            <tr style='-webkit-text-size-adjust: none; text-size-adjust: none'>
              <td
                style='
                  text-align: center;
                  vertical-align: top;
                  direction: ltr;
                  font-size: 0px;
                  padding: 40px;
                  -webkit-text-size-adjust: none;
                  text-size-adjust: none;
                  border-collapse: collapse;
                '
              >
                <div
                  aria-labelledby='mj-column-per-100'
                  class='mj-column-per-100 outlook-group-fix'
                  style='
                    vertical-align: top;
                    display: inline-block;
                    direction: ltr;
                    font-size: 13px;
                    text-align: left;
                    width: 100%;
                    -webkit-text-size-adjust: none;
                    text-size-adjust: none;
                  '
                >
                  <table
                    role='presentation'
                    cellpadding='0'
                    cellspacing='0'
                    width='100%'
                    border='0'
                    style='
                      -webkit-text-size-adjust: none;
                      text-size-adjust: none;
                      border-collapse: collapse;
                    '
                  >
                    <tbody style='-webkit-text-size-adjust: none; text-size-adjust: none'>
                      <tr style='-webkit-text-size-adjust: none; text-size-adjust: none'>
                        <td
                          style='
                            word-break: break-word;
                            font-size: 0px;
                            -webkit-text-size-adjust: none;
                            text-size-adjust: none;
                            border-collapse: collapse;
                          '
                          align='left'
                        >
                          <div
                            style='
                              cursor: auto;
                              color: #737f8d;
                              font-family:
                                Whitney,
                                Helvetica Neue,
                                Helvetica,
                                Arial,
                                Lucida Grande,
                                sans-serif;
                              font-size: 16px;
                              line-height: 24px;
                              text-align: left;
                              -webkit-text-size-adjust: none;
                              text-size-adjust: none;
                            '
                          >
                            <p
                              style='
                                -webkit-text-size-adjust: none;
                                text-size-adjust: none;
                                display: block;
                                margin: 13px 0;
                              '
                            >
                              <img
                                src='https://cdn.discordapp.com/email_assets/127c95bbea39cd4bc1ad87d1500ae27d.png'
                                alt='Party'
                                width='500'
                                style='
                                  width: 100%;
                                  height: auto;
                                  -webkit-text-size-adjust: none;
                                  text-size-adjust: none;
                                  border: 0;
                                  line-height: 100%;
                                  outline: none;
                                  text-decoration: none;
                                  -ms-interpolation-mode: bicubic;
                                '
                              />
                            </p>

                            <h2
                              style='
                                font-family:
                                  Whitney,
                                  Helvetica Neue,
                                  Helvetica,
                                  Arial,
                                  Lucida Grande,
                                  sans-serif;
                                font-weight: 500;
                                font-size: 20px;
                                text-align: center;
                                color: #4f545c;
                                letter-spacing: 0.27px;
                                -webkit-text-size-adjust: none;
                                text-size-adjust: none;
                              '
                            >
                              Hey
                              {{name}},
                            </h2>
                            <p
                              style='
                                -webkit-text-size-adjust: none;
                                text-size-adjust: none;
                                display: block;
                                margin: 13px 0;
                                text-align: center;
                              '
                            >
                              {{content}}
                            </p>
                          </div>
                        </td>
                      </tr>
                      <tr style='-webkit-text-size-adjust: none; text-size-adjust: none'>
                        <td
                          style='
                            word-break: break-word;
                            font-size: 0px;
                            padding: 10px 25px;
                            -webkit-text-size-adjust: none;
                            text-size-adjust: none;
                            border-collapse: collapse;
                          '
                          align='center'
                        >
                          <table
                            role='presentation'
                            cellpadding='0'
                            cellspacing='0'
                            style='
                              border-collapse: separate;
                              -webkit-text-size-adjust: none;
                              text-size-adjust: none;
                            '
                            align='center'
                            border='0'
                          >
                            <tbody style='-webkit-text-size-adjust: none; text-size-adjust: none'>
                              <tr style='-webkit-text-size-adjust: none; text-size-adjust: none'>
                                <td
                                  style='
                                    border: none;
                                    border-radius: 3px;
                                    color: white;
                                    cursor: auto;
                                    -webkit-text-size-adjust: none;
                                    text-size-adjust: none;
                                    border-collapse: collapse;
                                  '
                                  align='center'
                                  valign='middle'
                                  bgcolor='#7289DA'
                                >
                                  <a
                                    href='{{link}}'
                                    style='
                                      text-decoration: none;
                                      line-height: 100%;
                                      background: #7289da;
                                      color: white;
                                      font-family: Ubuntu, Helvetica, Arial, sans-serif;
                                      font-size: 15px;
                                      font-weight: normal;
                                      text-transform: none;
                                      margin: 0px;
                                      -webkit-text-size-adjust: none;
                                      text-size-adjust: none;
                                      display: inline-block;
                                      padding: 15px 19px;
                                    '
                                    target='_blank'
                                  >
                                    {{titleLink}}
                                  </a>
                                </td>
                              </tr>
                            </tbody>
                          </table>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
    <div
      style='
        margin: 0px auto;
        max-width: 640px;
        background: transparent;
        -webkit-text-size-adjust: none;
        text-size-adjust: none;
      '
    >
      <table
        role='presentation'
        cellpadding='0'
        cellspacing='0'
        style='
          font-size: 0px;
          width: 100%;
          background: transparent;
          -webkit-text-size-adjust: none;
          text-size-adjust: none;
          border-collapse: collapse;
        '
        align='center'
        border='0'
      >
        <tbody style='-webkit-text-size-adjust: none; text-size-adjust: none'>
          <tr style='-webkit-text-size-adjust: none; text-size-adjust: none'>
            <td
              style='
                text-align: center;
                vertical-align: top;
                direction: ltr;
                font-size: 0px;
                padding: 0px;
                -webkit-text-size-adjust: none;
                text-size-adjust: none;
                border-collapse: collapse;
              '
            >
              <div
                aria-labelledby='mj-column-per-100'
                class='mj-column-per-100 outlook-group-fix'
                style='
                  vertical-align: top;
                  display: inline-block;
                  direction: ltr;
                  font-size: 13px;
                  text-align: left;
                  width: 100%;
                  -webkit-text-size-adjust: none;
                  text-size-adjust: none;
                '
              >
                <table
                  role='presentation'
                  cellpadding='0'
                  cellspacing='0'
                  width='100%'
                  border='0'
                  style='
                    -webkit-text-size-adjust: none;
                    text-size-adjust: none;
                    border-collapse: collapse;
                  '
                >
                  <tbody style='-webkit-text-size-adjust: none; text-size-adjust: none'>
                    <tr style='-webkit-text-size-adjust: none; text-size-adjust: none'>
                      <td
                        style='
                          word-break: break-word;
                          font-size: 0px;
                          -webkit-text-size-adjust: none;
                          text-size-adjust: none;
                          border-collapse: collapse;
                        '
                      >
                        <div
                          style='
                            font-size: 1px;
                            line-height: 12px;
                            -webkit-text-size-adjust: none;
                            text-size-adjust: none;
                          '
                        >
                          &nbsp;
                        </div>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</body>