@tailwind base;
@tailwind components;
@tailwind utilities;

::selection {
  background-color: #3BB77E;
  color: white;
}

::-webkit-scrollbar {
  width: 5px;
  height: 10px;
  border-radius: 50px;
}

::-webkit-scrollbar-track {
  background-color: #e3e3e3;
  /* border-radius: 50px; */
}

::-webkit-scrollbar-thumb {
  background-color: #253d4e4d;
  border-radius: 50px;
}

html {
  height: 100%;
  line-height: 1.2;
}

body {
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-weight: 400;
  color: #7E7E7E;
}

.hidden_scrollbar::-webkit-scrollbar {
  display: none;
}

.swiper-button-prev,
.swiper-button-next {
  width: 48px !important;
  height: 48px !important;
  border-radius: 18px;
  transition: all 0.3s;
}

.swiper-button-disabled {
  pointer-events: initial !important;
}

.swiper-button-prev:hover:not(.swiper-button-disabled),
.swiper-button-next:hover:not(.swiper-button-disabled) {
  background-color: rgba(59, 184, 125, 0.4);

}

.swiper-button-prev::after,
.swiper-button-next::after {
  color: #3BB77E;
  font-size: 32px !important;
}

.error .tox-tinymce {
  border: 1px solid #dc2626;
}

.error .tox .tox-edit-area__iframe {
  background-color: #fef2f2;
}